{% include 'header.html' %}
<br>

<main class="main">
    <h2>Validaciones de Formularios</h2>

<form class="contact-form" action="/update" enctype="multipart/form-data" method="POST">
  <legend>Modificar Producto</legend>
  <input type="hidden" value="{{ producto[0] }}" name="txtId" id="txtId">
  <input type="text" name="txtNombre"  value="{{ producto[1] }}" placeholder="Escribe nombre de producto" title="El nombre sólo acepta letras y espacios en blanco" pattern="^[A-Za-zÑñÁáÉéÍíÓóÚúÜü\s]+$" required>
  <input type="number" name="txtPrecio"  value="{{ producto[4] }}" placeholder="Precio" title="El asunto es requerido" required>
  <select name="txtCategoria">
    <option value="Vinos">Vinos</option>
    <option value="Cervezas" selected>Cervezas</option>
    <option value="Comidas">Comidas</option>
  </select>
  <select name="txtCepa" value="{{ producto[3] }}" >
    <option value="Malbec">Malbec</option>
    <option value="Cabernet" selected>Cabernet</option>
    <option value="Blend">Blend</option>
    <option value="Syrah">Syrah</option>

</select>
<input type="text" name="txtMarca" placeholder="Marca/Bodega" title="El nombre sólo acepta letras y espacios en blanco" pattern="^[A-Za-zÑñÁáÉéÍíÓóÚúÜü\s]+$" required>
<textarea name="txtDescripcion" cols="50" rows="5" title="Tu comentario no debe exceder los 50 caracteres" placeholder="Descripcion" data-pattern="^.{1,255}$" required>{{ producto[2] }}</textarea>
<input type="file" name="txtFoto"  value="{{ producto[5] }}" placeholder="Inserte la foto del producto" title="El nombre sólo acepta letras y espacios en blanco" pattern="^[A-Za-zÑñÁáÉéÍíÓóÚúÜü\s]+$" required>
<img src="{{url_for('uploads', nombreFoto=producto[5])}}" alt="">

<input type="submit" value="Enviar">
  <div class="contact-form-loader none">
    <img src="assets/spinning-circles1.svg" alt="Cargando">
  </div>
  <div class="contact-form-response none">
    <p>Los datos han sido enviados</p>
  </div>
</form>
</main>
<aside class="aside">asd</aside>

{% include 'footer.html' %}
