{% include 'header.html' %}
<main class="main">
    <section class="section">
        <h2>Catalogo Vinos</h2>
        <hr>
        <div class="container">
            <div class="container-search">
                <input type="search" placeholder="Buscar..." class="card-filter"><a href=""><i class="fas fa-search"></i></a>
            </div>
            <div class="container-plus">
                <a href="{{url_for('create')}}"><i class="fas fa-plus"></i></a>
            </div>
        </div>

        <article class="cards">
            {% for producto in productos %}
          <figure class="card">
            <img src="uploads/{{producto[2]}}" alt="Vino">
            <figcaption>
                <h3>{{producto[1]}}</h3>
                <br>
                <h5>- {{producto[4]}}</h5>
                <p>{{producto[3]}}</p>
                <div class="container-trash-edit">
                    <a href="/edit/{{producto[0]}}" class="btn-edit-trash"><i class="fas fa-edit"></i></a>
                    <a href="/destroy/{{producto[0]}}" onclick="return confirm('¿Desea borrar el producto?')" class="btn-edit-trash"><i class="fas fa-trash-alt"></i></a>
                </div>
            </figcaption>

          </figure>
            {% endfor %}
        </article>
      </section>
</main>
<aside class="aside"></aside>



<!-- <a href="{{url_for('create')}}" class="btn btn-success m-3">Agregar Empleado</a>
<br>
    <table class="table table-light">
        <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>Foto</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Acciones</th>
            </tr>
        </thead>
        
        <tbody>
            {% for empleado in empleados %}
            <tr>
                <td>{{empleado[0]}}</td>
                <td>
                    <img src="uploads/{{empleado[3]}}" width="100" class="img-thumbnail">
                </td>
                <td>{{empleado[1]}}</td>
                <td>{{empleado[2]}}</td>
                <td>
                    <a href="/edit/{{empleado[0]}}" class="btn btn-primary">Editar</a>
                    <a href="/destroy/{{empleado[0]}}" onclick="return confirm('¿Desea borrar el empleado?')" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table> -->
{% include 'footer.html' %}

