<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La casa de Bacus</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../uploads/style.css">
    <link rel="icon" type="image/png" sizes="16x16" href="../uploads/logo-bacus.jpg">
    <script src="https://kit.fontawesome.com/a81c100abf.js" crossorigin="anonymous"></script>
    
</head>
<body>

      <header class="header">
              <div class="logo">
                <a href="/"> 
                  <img src="../uploads/logo-bacus.jpg" width="200">
                </a>
              </div>
              <button class="menu-boton">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path d="M4 6H20V8H4zM4 11H20V13H4zM4 16H20V18H4z" />
                </svg>
                <svg class="none" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path
                    d="M16.192 6.344L11.949 10.586 7.707 6.344 6.293 7.758 10.535 12 6.293 16.242 7.707 17.656 11.949 13.414 16.192 17.656 17.606 16.242 13.364 12 17.606 7.758z" />
                </svg>
              </button>
        
              <nav class="nav">
                <a href="/">Inicio</a>
                <a href="/">Vinos</a>
                <a href="/">Cervezas</a>
                <a href="/">Comidas</a>
                <a href="/">Contacto</a>
              </nav>
      </header>
